{% extends 'base.html' %}

{% block content %}

  <form action='/validated-user' method='POST'>
        <label> User Name
          <input name="user-name-input" type='text' value={{user_name}} >
          <input type="hidden" name="user-name" value={{user_name}} >
        </label>
        <p class="error">{{user_name_error}}</p>
        <label>Password
          <input name = "password-input" type='password' value={{password}} >
        </label>
        <p class="error">{{password_error}}</p>
        <label>Verify Password
            <input name = "verify-password-input" type='password' value={{verify_password}} >
          </label>
        <p class="error">{{verify_password_error}}</p>
        <label>Email (optional)
            <input name = "email-input" type='text' value={{email}} >
          </label>
          <p class="error">{{email_error}}</p>
        <input type='submit' value='Submit' />
  </form>

{% endblock %}